{% block body %}
    <hr class="parent">
    <div id="ingredient_forms">
            <div class="form_entry">
                <div class="form_row">
                    <div class="form_column" id="ingredient_name">
                        {{ form.ingredient.label }} {{ form.ingredient }}
                    </div>
                    <div class="form_column" id="quantity">
                        {{ form.quantity.label }} {{ form.quantity }}
                    </div>
                    <div class="form_column" id="unit_type">
                        {{ form.unit.label}} {{form.unit}}
                    </div>
                </div>
                <hr class="child">
            </div>
        </div>
    </div>

{% endblock %}