<!DOCTYPE html>

{% block body %}
    <div id="ingredient_forms">
        <div id="ingredient_form">
            <form method="POST" id="add_ingredient" action="/ingredient_form.html">
                <div class="form_entry">
                    <div class="form_row">
                        <div class="form_column">
                            Ingredient Name: <input type="text" name="ingredient_name" value="">
                        </div>
                        <div class="form_column">
                            Quantity Estimate: <input type="text" name="quantity" value="">
                        </div>
                        <div class="form_column">
                            Unit Type:
                             <select name="units" id="unit_select">
                                <option value="">--Unit Selection--</option>
                                <option value="oz">Ounces</option>
                                <option value="tbsp">Tablespoons</option>
                                <option value="tsp">Teaspoons</option>
                                <option value="cup">Cups</option>
                                <option value="pint">Pints</option>
                                <option value="g">Grams</option>
                                <option value="mg">Milligrams</option>
                                <option value="kg">Kilograms</option>
                                <option value="lbs">Pounds</option>
                                <option value="gal">Gallons</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}