<!DOCTYPE html>
<!-- Form to generate the site selection to generate the grocery lists from, probably easiest flow.
    User can enter ingredients on next screen while the database is populating on the back end. -->

{% block body %}
    <form method="POST" action="/">
        <div class="site_selection">
            <table class="recipe_site_selection">
                <tr class="recipe_site_selection">
                    <th class="recipe_site_selection">
                        Enabled
                    </th>
                    <th class="recipe_site_selection">
                        Site Name
                    </th>
                    <th class="recipe_site_selection">
                        Site Description
                    </th>
                </tr>
                {% for site in recipe_sites %}
                    <tr class="recipe_site_selection">
                        <!-- Enabled CheckBox -->
                        <td class="recipe_site_selection">
                            <input
                                type="checkbox"
                                id="{{ site.site_id }}"
                                name="recipe_site"
                                value="{{ site.site_id }}"
                                checked="checked"
                            >
                        </td>
                        <!-- Site Name -->
                        <td class="recipe_site_selection">
                            <label
                                for="{{ site.site_id }}">
                                <a class="recipe_site_selection" href="{{ site.base_url }}" >{{ site.name }}</a>
                            </label>
                        </td>
                        <!-- Site Description -->
                        <td class="recipe_site_selection">
                            {{ site.description }}
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <!-- Button Stuff -->
            <script type="text/javascript">
                function checkAll(checkedBool) {
                    var checkBoxes = document.querySelectorAll('input[name=recipe_site]');
                    for (var i = 0; i < checkBoxes.length; i++){
                        checkBoxes[i].checked = checkedBool;
                    }
                }
            </script>
            <table class="site_selection_buttons">
                <tr class="site_selection_buttons">
                    <td class="site_selection_buttons">
                        <input
                            class="table_button"
                            id="get_sites"
                            type="submit"
                            name="get_sites"
                            value="Create List From Selected Sites"
                        >
                    </td>
                    <td>
                        <input
                            class="table_button"
                            id="select_all"
                            type="button"
                            name="select_all"
                            value="Select All Sites"
                            onclick="checkAll(true)"
                        >
                    </td>
                    <td>
                        <input
                            class="table_button"
                            id="clear_all"
                            type="button"
                            name="clear_all"
                            value="Clear All"
                            onclick="checkAll(false)">
                    </td>
                </tr>
            </table>
        </div>
    </form>
{% endblock %}
