{% extends "layout.html" %}

{% block body %}

<hr class="parent">
    <form method="POST" id="submit_actions" enctype="multipart/form-data" action="/">
        {% include 'add_ingredient.html' %}
        {{ form.csrf_token }}
        {{ form.hidden_tag()}}
        <table class="submit_buttons">
            <tr class="submit_buttons">
                <td class="submit_buttons">
                    <input
                        class="table_button"
                        id="find_recipes"
                        type="submit"
                        name="find_recipes"
                        value="Find Recipes!"
                    >
                </td>
            </tr>
        </table>
        <input type="hidden" id="grocery_list" name="grocery_list" value="">
    </form>
    <!-- set a hidden form field with a JSON object containing the entered ingredients -->
    <script type="text/javascript">
        function buildJson(grocery_list) {
            var formsData = {};
            var forms = document.getElementsByClassName('ingredient_entry');
            for (var i = 0; i < forms.length; i++) {
                var formData = {};
                const data = new FormData(forms[i]);
                data.forEach(function(value, key) {
                    if (value != '') {
                        formData[key] = value;
                    }
                });
                try {
                    if (grocery_list != null) {
                        if (grocery_list.includes(forms[i].tagName)) {
                            formsData[forms[i].tagName] = formData;
                        }
                    }
                } catch (error) {
                    continue;
                }
            }
            console.log(JSON.stringify(grocery_list, null, 4));
            document.getElementById('grocery_list').value = JSON.stringify(grocery_list)
        }
    </script>
    <script>
        function addIngredientForm() {
            var i = 0;
            var forms = document.getElementById('ingredient_forms');
            var form = document.getElementById('ingredient_form');
            var addForm = form.cloneNode(true);
            addForm.id = "ingredient_form" + ++i;
            forms.append(addForm);
        }
    </script>

{% endblock %}
